@import 'tailwindcss';
:root {
  font-family: 'Urbanist', sans-serif;
  overflow: scroll;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}
::selection {
  background-color: #f97316;
  color: black;
}
