@import 'tailwindcss';

body {
  font-family: 'Cascadia Code', monospace;
}

:root {
  background: black;
}
::selection {
  background-color: #f97316; /* Naranja */
  color: black; /* Color del texto seleccionado */
}
